:root {
  --clr-dark: #0e1111;
  --clr-light: #e7e4da;
  --clr-semiDark: #3b444b;
  --clr-semiLight: #414a4c;
  --clr-secondary: #353839;
  --clr-primary: #232b2b;
  --clr-main: #a95237;
}

.main {
  background-color: var(--clr-dark);
  height: 100vh;
}
.header {
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 20px;
}
::-webkit-scrollbar {
  width: 0%;
}
.card {
  scroll-behavior: smooth;
  width: 200px !important;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 10px;
  margin-left: -21px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  transition: all 400ms ease-out;
  transform: perspective(150px) rotateY(20deg);
}
.card img {
  border-radius: 10px;
}
.cardBody {
  border-radius: 10px;
  display: none;
  padding: 10px;
}
.card:hover {
  transform: none;
  margin-right: 60px;
}
.card:hover .cardBody {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-color: #3538399f;
  color: white;
}
/* ---------------- */
.categories {
  display: inline-flex;
  margin-bottom: 2em;
  padding-inline: 0.3em;
  padding: 0.6em;
  width: 500px;
  word-wrap: none;
}

.categoryItem {
  padding-inline: 0.3em;
  word-wrap: none;
  cursor: pointer;
  color: aliceblue;
}

.categoryItem[data-active="true"] {
  color: red !important;
}
.categoryItem span {
  width: 0;
  height: 1px;
  display: block;
  background-color: white;
  transition: 400ms ease-out;
}
.categoryItem[data-active="true"] span {
  background-color: red;
}

.categoryItem:hover span {
  width: 100%;
}
.categoryItem:hover {
  color: #3b444b;
}
a.logo img {
  cursor: pointer;
  width: 150px;
}
.Modal {
  width: 100%;
  height: 100%;
  background-color: black !important;
}
.btn-priority {
  border: none;
  border-radius: 50%;
  position: absolute;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 100px;
  left: 50%;
}
.btn-priority:hover {
  background-color: rgb(160, 33, 33) !important;
}
.comment {
  background-color: black;
}
.comment input,
.comment input:focus,
.comment textarea:focus,
.comment textarea {
  background-color: rgb(12, 12, 12) !important;
  font-size: 1.5em;
  color: gray;
}

.comment input::placeholder,
.comment textarea::placeholder {
  color: rgb(70, 69, 69);
}
.oldComments {
  width: calc(100% - 6em);
  margin: 2em;
  padding: 0 1em 0 0;
}
.oldComment {
  background-color: rgb(12, 12, 12) !important;
  padding: 1em;
  color: rgb(106, 107, 107);
  font-size: 1.6em;
}
.oldComment p {
  padding-inline: 5em;
}
.addMovieForm {
  position: fixed;
  left: 0;
  background-color: rgb(12, 12, 12) !important;
  padding: 2em;
  margin: 2em;
  top: 50%;
  width: 240px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  transition: 300ms;
}
.addMovieForm h1 {
  color: #a95237;
}
.addMovieForm input,
.addMovieForm select {
  background-color: #1a1d1d !important;
  border: none;
  color: aliceblue !important;
}

.addMovieForm input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #a95237;
  color: black;
  cursor: pointer;
  transition: background 200ms ease-in-out;
}

.addMovieForm input::placeholder {
  color: rgb(166, 169, 173) !important;
}
.addMovieForm input::active,
.addMovieForm input::focus,
.addMovieForm select::active,
.addMovieForm select::focus {
  background-color: #1a1d1d !important;
  color: rgb(230, 238, 248) !important;
}
.addMovieForm button {
  padding: 8px 15px;
  background-color: transparent;
  border: #a95237 1px solid !important;
  color: white;
  transition: 300ms;
}
.addMovieForm button:hover {
  background-color: #a95237;
  color: black;
}
.addMovieForm select {
  padding: 8px 15px !important;
}
